*{
    outline: 0.5px solid black;
}
body {
}
#navbar, #footer {
    background-color: #646464;
    color: #f8f8f8;
}
    #navbar .navbar-content {
        background-color: #F2B02A;
    }

.thumbnail{
    height: 128px;
    width: 128px;
}