*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body {
}
a{
    color:black;
    cursor: pointer;
}
a:hover{
    color:black;
    text-decoration:none;
}
#navbar, #footer {
    background-color: #646464;
    color: #f8f8f8;
}
    #navbar .navbar-content {
        background-color: #F2B02A;
    }
        #navbar .navbar-content .navbar-icons a {
            display: block;
        }

.thumbnail{
    height: 128px;
    width: 128px;
}
